/* colors */
$grey_color:#292929;
$tekhelet: #5a189aff;
$primary_color: #7b2cbfff;
$mauve_color-1: #10002bff;
$mauve_color-2: #240046ff;
$mauve_color-3: #3c096cff;
$mauve_color-4: #9d4eddff;
$mauve_color-5: #c77dffff;
$mauve_color-6: #e0aaffff;

// transition
$main_speed: 0.3s ease;
$lower_speed: 1s ease;

// ------------- mixins -------------
@mixin flex($jc: center, $ai: center, $dir: row) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $dir;
  }
  
  @mixin grid($min: 300px) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($min, 1fr));
  }

  
// ------------- Media -------------
@mixin xLarge {
    @media (max-width: 1200px) {
      @content;
    }
  }
  @mixin large {
    @media (max-width: 992px) {
      @content;
    }
  }
  
  @mixin tablet {
    @media (max-width: 768px) {
      @content;
    }
  }
  
  @mixin mobile {
    @media (max-width: 480px) {
      @content;
    }
  }
  