/* colors */
$tekhelet: #5a189aff;
$french-violet: #7b2cbfff;
$mauve_color-1: #10002bff;
$mauve_color-2: #240046ff;
$mauve_color-3: #3c096cff;
$mauve_color-4: #9d4eddff;
$mauve_color-5: #c77dffff;
$mauve_color-6: #e0aaffff;
