@use "./Globals.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: unset;
}

body {
  font-family: Poppins;
  overflow-x: hidden;
}
// public
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}
input {
  outline: unset;
}
// container
.container {
  width: min(1250px, 100%);
  margin: auto;
  padding-inline: 1rem;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.items-center {
  display: flex;
  align-items: center;
  gap: 10px;
}
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.parent-dark-mode {
  // background-color: $mauve_color-1 !important;
}
.stickers-icons {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  .icon {
    background-color: #fff1;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    // gap: 20px;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
    &.active,
    &:hover {
      background-color: #fff4;
    }
  }
}
