@use "./Globals.scss" as *;
*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Poppins;
}
// public
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}

// container
.container {
  width: min(1250px, 100%);
  margin: auto;
  padding-inline: 1rem;
}

.parent-dark-mode {
  background-color: $mauve_color-1 !important;
  height: 2000px;
}
